
Algoritimos/Cap08_Matrizes/Matriz_diagPrincipal_1.por
Algoritimos/Cap08_Matrizes/LinguagemC/matriz_diagSecundária07.por
Algoritimos/Cap08_Matrizes/LinguagemC/matriz_10_x_10.exe
Algoritimos/Cap08_Matrizes/LinguagemC/matriz_10_x_10.o
